data/USPTO-mit/*.proc filter=lfs diff=lfs merge=lfs -text
Chemoinformatics[[:space:]]analysis/chembl-syn-total-1837494.txt filter=lfs diff=lfs merge=lfs -text
core_wln_global/model_weights_200_clip_merge1/* filter=lfs diff=lfs merge=lfs -text
